.layout {
  @at-root .header {
    line-height: $layoutHeaderHeight;
    height: $layoutHeaderHeight;
    background-color: $cWhite;
    color: $cPrimary;
    box-shadow: $boxShadow;
    :global(.container) {
      display: flex;
      justify-content: space-between;
      padding: 0 $baseSpacing * 2;
    }
    nav {
      height: $layoutHeaderHeight;
      line-height: $layoutHeaderHeight;
    }
    a {
      display: inline-block;
      padding: 0 $baseSpacing * 2;
      &.active {
        border-bottom: $border;
        border-bottom-color: $cPrimary;
      }
    }
  }
  @at-root .main {
    // background: no-repeat url('/images/STH-BG.jpg') bottom / cover;
    min-height: 900px;
    :global(.container) {
      padding: $baseSpacing * 2 0;
    }
  }
  @at-root .footer {
    text-align: center;
    height: $layoutHeaderHeight;
    line-height: $layoutHeaderHeight;
  }
}
