$layoutHeaderHeight: 45px;
$containerWidth: 900px;

$cPrimary: #914bd2;
$cWhite: #fff;

$cPrimaryLighter: mix($cWhite, $cPrimary, 90%);

$ctPrimary: #000;
$ctNormal: #333;
$ctSecond: #666;

$baseSpacing: 8px;

$boxShadow: 0 2px 4px #eee;

$fsES: 12px;
$fsSM: 14px;
$fsBase: 16px;
$fsMD: 18px;
$fsLG: 24px;
$fsEL: 32px;

$border: 1px solid #ccc;
$border-color: #ccc;
